.myNavbar{
    background-color: rgb(185, 255, 132);
    transition: background-color 0.2s;
    padding: 1rem 1.2rem;
    display: flex;
    align-items: center;
}

.brand {

    color: #363636 !important;
    font-size: 1.6rem;
    font-weight: 400;
}

.nav-link {
    color: #000;
    transition: color, 0.2s;
    margin: 0 20px;
    font-size: 1.2rem;
    font-weight: 200;

}

.toggler {
    border: none;
    padding: 4px;
    border-radius: 4px;
}

.toggler:focus {
    outline: none;
    background-color: rgba(0, 0, 0, 0.05);
}

.title {
    height: 100%;
    left: 0;
    right: 0;
    color: #fff;
    text-align: center;
    margin-top: 0px;
}
.navbar-transparent {
    background-color: rgba(130, 123, 123, 0);
    transition: background-color 0.2s;
  }
.navbar-white {
    background-color: rgba(93, 97, 103, 0.81);
    opacity: 80%;
    transition: background-color 0.2s;
}