.myNavbar{
    transition: background-color 0.2s;
    padding: 1rem 1.2rem;
    display: flex;
    align-items: center;
}

.brand , .brandColor {
    font-size: 1.6rem;
    font-weight: 500;
}
.brandColor{
    color: #fff !important;
}
.brand {
    color: #363636 !important;
}

.nav-link {
    color: #000;
    transition: color, 0.2s;
    margin: 0 20px;
    font-size: 1.2rem;
    font-weight: 200;

}

.toggler {
    border: none;
    padding: 4px;
    border-radius: 4px;
}

.toggler:focus {
    outline: none;
    background-color: rgba(0, 0, 0, 0.05);
}

.title {
    height: 100%;
    left: 0;
    right: 0;
    color: #fff;
    text-align: center;
    margin-top: 0px;
}

.navbar-green{
    background-color: #635666;
    color: #fff !important;
}
.navbar-transparent {
    background-color: #AEDBCE;
    transition: background-color 0.2s;
    opacity: 80%;

  }